# Contents

- library import
- data import
- exercise task

# Library and data frame import

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# create a string for the project folder path

path = r'/Users/Ashley/Desktop/Adam/Achievement 4/Instacart Analysis'

In [3]:
# import the latest data set

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'data_with_derived_variables.pkl'))

In [4]:
# data check

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Regularly Busy,Mid Range Product,Regular Days,Most Orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Regularly Busy,Mid Range Product,Regular Days,Average Orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Busiest Day,Mid Range Product,Busiest Days,Average Orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Regularly Busy,Mid Range Product,Slowest Days,Most Orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Least Busy,Mid Range Product,Slowest Days,Average Orders

In [5]:
ords_prods_merge.shape

(32404859, 19)

# Questions 2 & 3

In [7]:
# group the data by department ID and find the aggregated mean of order number

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The results are similar to what was produced during the exercise but slightly different. This can be attributed to the calculation being ran on all 3.2MM+ rows instead of just the first million.

# Question 4

In [8]:
# create a new max order column by grouping by user id and find the max value of order number

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
# data check to ensure new column is present

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Regularly Busy,Mid Range Product,Regular Days,Most Orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Regularly Busy,Mid Range Product,Regular Days,Average Orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Busiest Day,Mid Range Product,Busiest Days,Average Orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Regularly Busy,Mid Range Product,Slowest Days,Most Orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Least Busy,Mid Range Product,Slowest Days,Average Orders,3

In [11]:
# create flags for each category of customer

ords_prods_merge.loc[ords_prods_merge['max_order'] >40, 'loyalty_flag'] ='Loyal Customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <=10, 'loyalty_flag'] ='New Customer'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <=40) & (ords_prods_merge['max_order'] >10),
                     'loyalty_flag']= "Regular Customer"

In [17]:
# data check for frequencies of each new flag 

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: loyalty_flag, dtype: int64

In [18]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_order,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,False,5,0,both,Regularly Busy,Mid Range Product,Regular Days,Most Orders,32,Regular Customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,False,1,1,both,Regularly Busy,Mid Range Product,Regular Days,Average Orders,32,Regular Customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,False,20,0,both,Busiest Day,Mid Range Product,Busiest Days,Average Orders,5,New Customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,True,10,0,both,Regularly Busy,Mid Range Product,Slowest Days,Most Orders,3,New Customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,False,11,1,both,Least Busy,Mid Range Product,Slowest Days,Average Orders,3,New Customer

# Question 5

In [20]:
# group data by the loyalty flag column and return desciptive statistics for the prices column after grouping

ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal Customer,10284093.0,10.386336,328.017787,1.0,4.2,7.4,11.2,99999.0
New Customer,6243990.0,13.294670,597.560299,1.0,4.2,7.4,11.3,99999.0
Regular Customer,15876776.0,12.495717,539.720919,1.0,4.2,7.4,11.3,99999.0

The average prices for the different customer types are contained here within the mean column. This shows loyal customers have the lowest order price, new customers have the highest, and regular customers fall in the middle

# Question 6

In [23]:
# create a average price column by grouping by user id and then finding the mean of the prices column after grouping

ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [30]:
# data check to ensure the new column is in place

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Regularly Busy,Mid Range Product,Regular Days,Most Orders,32,Regular Customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Regularly Busy,Mid Range Product,Regular Days,Average Orders,32,Regular Customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Busiest Day,Mid Range Product,Busiest Days,Average Orders,5,New Customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Regularly Busy,Mid Range Product,Slowest Days,Most Orders,3,New Customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Least Busy,Mid Range Product,Slowest Days,Average Orders,3,New Customer,4.972414

In [31]:
# create flags for high and low spenders 

ords_prods_merge.loc[ords_prods_merge['average_price'] >=10, 'spending_flag'] = 'High Spender'

In [32]:
ords_prods_merge.loc[ords_prods_merge['average_price'] <10, 'spending_flag'] = 'Low Spender'

In [36]:
# data check for frequency of each flag in the new column

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [44]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Regularly Busy,Mid Range Product,Regular Days,Most Orders,32,Regular Customer,6.935811,Low Spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Regularly Busy,Mid Range Product,Regular Days,Average Orders,32,Regular Customer,6.935811,Low Spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Busiest Day,Mid Range Product,Busiest Days,Average Orders,5,New Customer,7.930208,Low Spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,Regularly Busy,Mid Range Product,Slowest Days,Most Orders,3,New Customer,4.972414,Low Spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Least Busy,Mid Range Product,Slowest Days,Average Orders,3,New Customer,4.972414,Low Spender

# Question 7

In [47]:
ords_prods_merge['days_since_median'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [48]:
# data check to ensure the new column is in place

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,days_since_median
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Regularly Busy,Mid Range Product,Regular Days,Most Orders,32,Regular Customer,6.935811,Low Spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Regularly Busy,Mid Range Product,Regular Days,Average Orders,32,Regular Customer,6.935811,Low Spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Busiest Day,Mid Range Product,Busiest Days,Average Orders,5,New Customer,7.930208,Low Spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Regularly Busy,Mid Range Product,Slowest Days,Most Orders,3,New Customer,4.972414,Low Spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Least Busy,Mid Range Product,Slowest Days,Average Orders,3,New Customer,4.972414,Low Spender,9.0

In [50]:
# create flags for frequency buckets

ords_prods_merge.loc[ords_prods_merge['days_since_median'] >20, 'frequency_flag'] = 'Non Frequent Customer'

In [52]:
ords_prods_merge.loc[ords_prods_merge['days_since_median'] <=10, 'frequency_flag'] = 'Frequent Customer'

In [53]:
ords_prods_merge.loc[(ords_prods_merge['days_since_median'] >10) & (ords_prods_merge['days_since_median'] <=20), 
                    'frequency_flag'] = 'Regular Customer'

In [54]:
# data check for frequency of each flag in the new column

ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent Customer        21559853
Regular Customer          7208564
Non Frequent Customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

# Data Export

In [55]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'data_after_4_8.pkl'))